body {
	background-color: #fff;
	padding: 10px;
	color: #333;
	font-family: Arial;
	font-size: 27px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}
table {
	background:#fff;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin: 0;
	padding: 0;
}
td#title {
	border: 1px solid #ddd;
	height:20px;
	text-align: center;
}
td#inside, td.outside {
	border: 1px solid #ddd;
}
td#inside table, td.outside table {
	border-collapse: collapse;
	border: 0;
	width: 260px;
}
tr {
	height:20px;
}
th {
	font-size: 16px;
	font-family: Arial;
	color: #888;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}
td {
	font-size: 16px;
	font-family: Arial;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}
.mm {
	color: #888;
}
.lt {
	font-size: 12px;
	font-family: Arial;
	color: #aaa;
}
.te {
	font-size: 40px;
	font-weight: normal;
	font-family: Tahoma;
}
.er {
	font-size: 10px;
	font-family: Arial;
	color: #faa;
}
.da {
	font-size: 12px;
	font-family: Arial;
	color: #aaa;
	text-align: center;
}
